apispec
attrs
black
bleach
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
commonmark
cryptography
dataclasses
daves-dev-tools
deepdiff
dill
distlib
dnslib
dnspython
docutils
ecdsa
filelock
flake8
idna
importlib-metadata
importlib-resources
iniconfig
jmespath
keyring
localstack
localstack-client
localstack-ext
lxml
mccabe
more-itertools
mypy
mypy-extensions
ordered-set
packaging
pathspec
pbr
pkginfo
platformdirs
pluggy
plux
psutil
py
py4j
pyaes
pyasn1
pycodestyle
pycparser
pyflakes
pygments
pyparsing
pyspark
pytest
python-dateutil
python-dotenv
python-jose
pyyaml
readme-renderer
requests
requests-toolbelt
rfc3986
rich
rsa
s3transfer
semver
setuptools
six
stevedore
tabulate
tailer
toml
tomli
tomli-w
tox
tqdm
twine
typed-ast
typing-extensions
urllib3
virtualenv
webencodings
zipp
